mat-grid-list {
    margin: 25px;
}

mat-grid-tile {
    background: lightblue;
    cursor: pointer;
  }

  .card {
    width: 250px;
    max-height: 80%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .fileName {
    height: 50px;
  }
  
  .videoFrame {
    width: 50vw;
    height:50vh;
  }

